@model EmployeeWebApp.Models.Employee

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h2 style="text-align: center; color: green" >Employee Information Entry</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "employeeForm", id = "employeeForm" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label id="ShowEmployeeName" class="control-label col-md-4"></label>
            <div class="col-md-8"> 
                <input type="text" class="form-control" id="EmpId" name="EmpId" placeholder="Enter ID" />
                @Html.ValidationMessageFor(model => model.EmpId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label id="ShowEmployeeName" class="control-label col-md-4"></label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Name" />
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label id="ShowEmployeeName" class="control-label col-md-4"></label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="Email" name="Email" placeholder="Enter Email" /> 
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label id="Salary" class="control-label col-md-4"></label>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Salary, new { @id = "Salary1", placeholder = "Enter Salary Amount", @class = "form-control" })
                @*@Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label id="ShowEmployeeName" class="control-label col-md-4"></label>
            <div class=" col-md-8">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="button" id="Cancel" value="Cancel" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<h3 id="ddd"  style="text-align: center; color: aquamarine">@ViewBag.message</h3>

<div style="text-align: center">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            
            //$('#employeeForm').validate({
            //    rules: {
            //        EmpId: "required",
            //        Name: "required",
            //        Email: "required",
            //        Salary: "required",
            //    },
            //    message: {
            //        EmpId: "Please enter Employee ID",
            //        Name: "Please enter Name",
            //        Email: "Please enter Email",
            //        Salary: "Please enter Salary",
            //    }
            //});
            $('#EmpId').val('');
            $('#Name').val('');
            $('#Email').val('');
            $('#Salary1').val('');

            $('#Cancel').click(function () {
                $('#EmpId').val('');
                $('#Name').val('');
                $('#Email').val('');
                $('#Salary1').val('');
                $('#ddd').empty();
            });
        });
    </script>
}
