@model EmployeeWebApp.Models.Employee

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h2 style="text-align: center; color: green" >Employee Information Entry</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "employeeForm", id = "employeeForm" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.EmpId,"Employee ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpId)
                @Html.ValidationMessageFor(model => model.EmpId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salary, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary)
                @Html.ValidationMessageFor(model => model.Salary)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<h3>@ViewBag.message</h3>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#employeeForm').validate({
                rules: {
                    EmpId: "required",
                    Name: "required",
                    Email: "required",
                    Salary: "required"
                },
                message: {
                    EmpId: "Please enter Employee ID",
                    Name: "Please enter Name",
                    Email: "Please enter Email",
                    Salary: "Please enter Salary"
                }
            });
        });
    </script>
}
