@model EmployeeWebApp.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Home.cshtml";
}

<h2 style="text-align: center; color: green">Employee Details</h2>

<table class="table table-striped table-hover table-bordered" style="text-align: center">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.EmpId)
        </td>
        <th style="text-align: center">
            @Html.DisplayFor(model => model.EmpId)
        </th>
    </tr>
    <tr>
        <td>
           @Html.DisplayNameFor(model => model.Name)
        </td>
        <th style="text-align: center">
            @Html.DisplayFor(model => model.Name)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Email)
        </td>
        <th style="text-align: center">
            @Html.DisplayFor(model => model.Email)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Salary)
        </td>
        <th style="text-align: center">
            @Html.DisplayFor(model => model.Salary)
        </th>
    </tr>

</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
