@model IEnumerable<EmployeeWebApp.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Home.cshtml";
}
@{
    int num = 0;

}

<h3 style="text-align: center; color: green">View All Employee Information</h3>
<hr/>
<br/>
<label> Total Employee : </label>
<input type="text" id="countNumber" style="text-align: center" disabled="disabled"/>
<br/>
<br/>

<table class="table table-striped table-bordered table-hover" style="text-align: center">
    <tr>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.EmpId)
        </th>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th style="text-align: center">
            @Html.DisplayNameFor(model => model.Salary)
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            @{
                num = num + 1;

            }
        </tr>
    }

</table>
<style>
    .amount {
        text-align:right;
        margin: 4px 0 12px 0;
    }
</style>
<div class="amount">
    <label>Total amount</label>
    <input type="text" name="amount" id="amount" value="@ViewBag.TotalAmount" disabled="disabled" />
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#countNumber").val(@num);
        });

    </script>
    
}